<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>My Site</title>
  <meta name="description" content="Shakya Webframe">
  <meta name="author" content="Peter David Carter">

  <link rel="stylesheet" href="../public/stylesheets/style.css">
  
  <link rel="icon" 
      type="image/png" 
      href="../public/img/logosmall1.png">
</head>

<body>
<div ID="topbar">
  <div class="innerLogo">
     <img src="../public/img/logo2.png" alt="DemocracyOS UK Logo" height="42" width="42">
  </div>
  <div class="innerHeader">
    <h1>DemocracyOS UK</h1>
  </div>
</div>
</body>
</html>
